1.Write code snippets in python to perform the following tasks
• Print your current working directory
• Create a new directory on your desktop named: “Text Mining and NLP”
• Make “Text Mining and NLP” your current working directory

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\tuhin.samanta\\Desktop\\Personal\\Personal POC\\Edureka ML Engineer Course\\5_NLP\\cls1-Inyroduction\\cls1_dataset'

In [4]:
path = "C:\\Users\\tuhin.samanta\\Desktop\\Text Mining and NLP"
os.chdir(path)

In [5]:
os.getcwd()

'C:\\Users\\tuhin.samanta\\Desktop\\Text Mining and NLP'

2. Write code snippets in python to perform the following tasks:
• Create a text file named “Greetings.txt” and write “Welcome to Text Mining and Natural Language Processing”
• Move this file to the folder “Text Mining and NLP” which you created in ques 1
• Rename this file to “Welcome.txt”

In [10]:
file1 = open('Greetings.txt','w+')

In [13]:
file1.write('Welcome to Text Mining and Natural Language Processing')

54

In [14]:
file1.close()

In [15]:
os.rename('Greetings.txt','Welcome.txt')

3.You are given a docx file named “NLP.docx”. Perform the following tasks:
• Use DOCX module to open the file and perform the following tasks:
• How many paragraphs are there in the file?
• For each paragraph, print the number of words it contains
• Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file

In [16]:
import docx

In [18]:
path1 = "C:\\Users\\tuhin.samanta\\Desktop\\Personal\\Personal POC\\Edureka ML Engineer Course\\5_NLP\\cls1-Inyroduction\\cls1_dataset\\698_m1_datasets_v1.0"

In [19]:
os.chdir(path1)

In [61]:
doc = docx.Document('NLP.docx')

In [62]:
paranums = len(doc.paragraphs)
paranums

27

In [63]:
doc.paragraphs[0].text

'To the outside observer, Natural Language Processing (NLP) may seem futuristic.\xa0\xa0a third of smartphone owners use their personal assistants regularly (a hallmark of NLP technologies), even though 95 percent have tried them at some point, according to Creative Strategies, a consultancy. However, Natural Language Processing advances continue in leaps and bounds, as Digital Neural Networks (DNN) and Machine Learning become more intricate. Both technologies enhance NLP technologies up to 30 percent.'

In [72]:
loopvar = 0
for para in doc.paragraphs:
    words = 0
    loopvar = loopvar + 1
    for var in para.runs:
        words = words + len(var.text.split(' '))
    print('Paragraph {} : words: {}'.format(loopvar, words))

Paragraph 1 : words: 72
Paragraph 2 : words: 58
Paragraph 3 : words: 133
Paragraph 4 : words: 26
Paragraph 5 : words: 6
Paragraph 6 : words: 71
Paragraph 7 : words: 38
Paragraph 8 : words: 61
Paragraph 9 : words: 47
Paragraph 10 : words: 50
Paragraph 11 : words: 9
Paragraph 12 : words: 65
Paragraph 13 : words: 37
Paragraph 14 : words: 82
Paragraph 15 : words: 102
Paragraph 16 : words: 8
Paragraph 17 : words: 43
Paragraph 18 : words: 113
Paragraph 19 : words: 33
Paragraph 20 : words: 56
Paragraph 21 : words: 66
Paragraph 22 : words: 6
Paragraph 23 : words: 80
Paragraph 24 : words: 90
Paragraph 25 : words: 70
Paragraph 26 : words: 65
Paragraph 27 : words: 8

In [79]:
file2 = open('C:\\Users\\tuhin.samanta\\Desktop\\Text Mining and NLP\\Welcome.txt','r')

In [80]:
print(file2.read())

Welcome to Text Mining and Natural Language ProcessingWelcome to Text Mining and Natural Language Processing

In [81]:
doc.add_paragraph(file2.read())

In [84]:
doc.save

In [85]:
len(doc.paragraphs)

28

4.You are given a csv file named “EmployeeDetails.csv”. Perform the following tasks:
• Use pandas module to read the csv file
• Split the name as first name and last name and make two separate columns as shown
• Delete “Name” Column
• Increment the “Salary” Column by 10% of the existing value and save changes in same column only as shown
• Save changes to a new file named “Employee_Data.csv”

In [86]:
import pandas as pd
import numpy as np

In [87]:
os.getcwd()

'C:\\Users\\tuhin.samanta\\Desktop\\Personal\\Personal POC\\Edureka ML Engineer Course\\5_NLP\\cls1-Inyroduction\\cls1_dataset\\698_m1_datasets_v1.0'

In [88]:
df = pd.read_csv('EmployeeDetails.csv')

In [89]:
df

             Name   Age  Salary
0     Arjun singh    24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000
5      Disha Gupta   27   23000

In [90]:
df.columns

Index(['Name ', 'Age', 'Salary'], dtype='object')

In [91]:
df['FName'] = df['Name '].str.split(' ').str[0]

In [92]:
df['LName'] = df['Name '].str.split(' ').str[1]

In [95]:
df.drop("Name ", axis = 1, inplace = True)

In [96]:
df

   Age  Salary     FName    LName
0   24   10000     Arjun    singh
1   26   25000    Vibhor      Jha
2   23   15000   Yoshita  Debnath
3   25   18000  Abhitesh    Setia
4   26   30000   Shaurya    Nayar
5   27   23000     Disha    Gupta

In [97]:
df["Salary"] = df["Salary"] + df["Salary"] * 0.1

In [98]:
df

   Age   Salary     FName    LName
0   24  11000.0     Arjun    singh
1   26  27500.0    Vibhor      Jha
2   23  16500.0   Yoshita  Debnath
3   25  19800.0  Abhitesh    Setia
4   26  33000.0   Shaurya    Nayar
5   27  25300.0     Disha    Gupta

In [99]:
df.to_csv('Employee_Data.csv')

In [ ]:
==============END OF ASSIGNMENT======================