1. Write a program to input three sentences from user and creates the corpus
Example:
Let’s say these 3 are your strings:
S1=” India won the match”
S2=” England won the cricket match”
S3=” Australia won the final match”
Then Corpus (list of union of all words from all strings) is:
[India, England, Australia, won, the, match, cricket, final]
Create a function named “MakeCorpus” which will take list of string as an input and will return a list having union of all words. Save this function in a python file named “Corpus”. This can be used for future applications

In [4]:
from nltk import word_tokenize

In [13]:

s1 = "India won the match"
s2 = " England won the cricket match"
s3 = "Australia won the final match"

def MakeCorpus(strlist):
    tokens = set()
    for strval in strlist:
        tokens = tokens.union(set(word_tokenize(strval)))
    return tokens

strlist = [s1,s2,s3]
values = MakeCorpus(strlist)

2. Write a program to input three sentences from user and convert them into vectors. Use presence and absence of words to build the vectors.
Example:
Let’s say these 3 are your strings:
S1=” India won the match”
S2=” England won the cricket match”
S3=” Australia won the final match”
Then Corpus (list of union of all words from all strings) is:
[India, England, Australia, won, the, match, cricket, final]
So, S1 will be [1,0,0,1,1,1,0,0] S2 will be [0,1,0,1,1,1,1,0] S3 will be [0,0,1,1,1,1,0,1]
Create a function named “PresenceAbsenceVectorization” which will take list of string as an input and will return a list of vectors. Save this function in a python file named “Vectorization”. This can be used for future applications

In [22]:
import pandas as pd
import numpy as np

str1_dict = dict.fromkeys(values,0)
str2_dict = dict.fromkeys(values,0)
str3_dict = dict.fromkeys(values,0)
for token in word_tokenize(s1):
    str1_dict[token] +=1
for token in word_tokenize(s2):
    str2_dict[token] +=1
for token in word_tokenize(s3):
    str3_dict[token] +=1
    
dict_df = pd.DataFrame([str1_dict,str2_dict,str3_dict])
dict_df

   Australia  won  final  the  England  cricket  India  match
0          0    1      0    1        0        0      1      1
1          0    1      0    1        1        1      0      1
2          1    1      1    1        0        0      0      1

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
def Vectorization(strlist):
    count_vect = CountVectorizer()
    x_counts = count_vect.fit_transform(strlist)
    x_names = count_vect.get_feature_names()
    df = pd.DataFrame(x_counts.toarray(), columns = x_names)
    return df
Vectorization(strlist)

   australia  cricket  england  final  india  match  the  won
0          0        0        0      0      1      1    1    1
1          0        1        1      0      0      1    1    1
2          1        0        0      1      0      1    1    1

3. Write a program to enter 3 strings from a user and vectorise them on basis of their counts.
Example:
Let’s say these 3 are your strings:
S1=” A lives with B. A plays with C. “
S2=” B lives with C. B plays with D”
S3=” C lives with D. C plays with A”
Then Corpus (list of union of all words from all strings) is:
[A, B, C, D, lives, with, plays]
So, S1 will be [2,1,1,0,1,2,1] S2 will be [0,2,1,1,1,2,1] S3 will be [1,0,2,1,1,2,1]
Create a function named “CountVectorization” which will take list of string as an input and will return a list of vectors. Save this function in a python file named “Vectorization”. This can be used for future applications

4. Write a program to input 3 strings but vectorise them using TF-IDF (Term Frequency and Inverse Document Frequency) and print the strings along with the vectors.
You can use already available python TF-IDF Vectorizer (Refer : http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html )
Create a function named “TFIDFVectorization” which will take list of string as an input and will return a list of vectors. Save this function in a python file named “Vectorization”. This can be used for future applications

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
def TFIDFVectorization(strlist):
    tf_vect = TfidfVectorizer(min_df=1, lowercase=True, stop_words='english')
    tf_matrix = tf_vect.fit_transform(strlist)
    col_names = tf_vect.get_feature_names()
    df = pd.DataFrame(tf_matrix.toarray(), columns = col_names)
    return df
TFIDFVectorization(strlist)

   australia   cricket   england     final     india     match       won
0   0.000000  0.000000  0.000000  0.000000  0.767495  0.453295  0.453295
1   0.000000  0.608845  0.608845  0.000000  0.000000  0.359594  0.359594
2   0.608845  0.000000  0.000000  0.608845  0.000000  0.359594  0.359594