You are given 3 CSV Files for the following 3 questions respectively.
• HouseData.csv
• Marketing.csv
• Results.csv
1. Write a function which accepts a CSV file location and split the data randomly in the file into 60% and 40% and save it in two different files namely “First.csv” and “Second.csv”.
Run this function for HouseData.csv

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv('Dataset/698_m5_datasets_v1.0/HouseData.csv')
x1, x2 = train_test_split(df, test_size=0.3)
df.shape

(1460, 81)

In [14]:
x1.shape

(1022, 81)

In [16]:
x2.shape

(438, 81)

In [18]:
x1.to_csv('First.csv')

In [19]:
x2.to_csv('Second.csv')

2. Write a function which accepts a CSV and performs Label Encoding for the “Class” column of that file, creates a new Column called “Label” and saves the result in the same file.
Run this function for Marketing.csv

In [21]:
from sklearn.preprocessing import LabelEncoder

In [39]:
labelencoder = LabelEncoder()
df2 = pd.read_csv('Dataset/698_m5_datasets_v1.0/Marketing.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414 entries, 0 to 7413
Data columns (total 23 columns):
Unnamed: 0        7414 non-null int64
custAge           5610 non-null float64
class             7414 non-null object
marital           7414 non-null object
schooling         5259 non-null object
default           7414 non-null object
housing           7414 non-null object
loan              7414 non-null object
contact           7414 non-null object
month             7414 non-null object
day_of_week       6703 non-null object
campaign          7414 non-null int64
pdays             7414 non-null int64
previous          7414 non-null int64
poutcome          7414 non-null object
emp.var.rate      7414 non-null float64
cons.price.idx    7414 non-null float64
cons.conf.idx     7414 non-null float64
euribor3m         7414 non-null float64
nr.employed       7414 non-null float64
pmonths           7414 non-null float64
pastEmail         7414 non-null int64
responded         7414 non-null object
dtypes: float64(7), int64(5), object(11)
memory usage: 1.3+ MB

In [40]:
df2.shape

(7414, 23)

In [41]:
df2.sample(10)

,Unnamed: 0,custAge,class,marital,schooling,default,housing,loan,contact,month,...,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded
477,477,59.0,blue-collar,married,NaN,unknown,no,no,telephone,may,...,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,999.0,0,no
5416,5416,31.0,admin.,single,high.school,no,yes,no,cellular,nov,...,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,999.0,0,no
6730,6730,56.0,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,...,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,999.0,0,no
7412,7412,51.0,unemployed,divorced,high.school,unknown,yes,no,cellular,nov,...,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,999.0,0,no
3576,3576,50.0,self-employed,married,university.degree,no,no,no,telephone,nov,...,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no
638,638,46.0,admin.,married,university.degree,no,no,no,cellular,aug,...,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,999.0,0,no
1222,1222,31.0,technician,married,university.degree,no,no,no,telephone,nov,...,0,nonexistent,-3.4,92.649,-30.1,0.714,5017.5,999.0,0,no
4798,4798,NaN,blue-collar,single,basic.9y,no,yes,no,cellular,jul,...,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,999.0,0,no
1065,1065,44.0,management,married,university.degree,no,yes,no,cellular,nov,...,1,failure,-0.1,93.200,-42.0,4.153,5195.8,999.0,2,no
1652,1652,53.0,admin.,married,NaN,no,no,no,cellular,jul,...,1,failure,-2.9,92.469,-33.6,1.044,5076.2,999.0,1,yes

In [42]:
df2['class'].unique()

array(['admin.', 'blue-collar', 'technician', 'management', 'services',
       'unemployed', 'housemaid', 'unknown', 'self-employed', 'retired',
       'student', 'entrepreneur'], dtype=object)

In [45]:
df2['label'] = labelencoder.fit_transform(df2['class'].astype('str'))
df2['label'].unique()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414 entries, 0 to 7413
Data columns (total 24 columns):
Unnamed: 0        7414 non-null int64
custAge           5610 non-null float64
class             7414 non-null object
marital           7414 non-null object
schooling         5259 non-null object
default           7414 non-null object
housing           7414 non-null object
loan              7414 non-null object
contact           7414 non-null object
month             7414 non-null object
day_of_week       6703 non-null object
campaign          7414 non-null int64
pdays             7414 non-null int64
previous          7414 non-null int64
poutcome          7414 non-null object
emp.var.rate      7414 non-null float64
cons.price.idx    7414 non-null float64
cons.conf.idx     7414 non-null float64
euribor3m         7414 non-null float64
nr.employed       7414 non-null float64
pmonths           7414 non-null float64
pastEmail         7414 non-null int64
responded         7414 non-null object
label             7414 non-null int32
dtypes: float64(7), int32(1), int64(5), object(11)
memory usage: 1.3+ MB

3. Write a function which accepts a CSV which has two columns: “ActualValues” and “PredictedValues”. You need to design a confusion matrix and give values for the following:
• Accuracy
• Misclassification Rate
• True Positive Rate
• False Positive Rate
• Specificity
• Precision
• Null Error Rate
Also plot the ROC Curve
Provide your understanding for each of them in a sentence or two.
Run this function for Results.csv

In [46]:
df3 = pd.read_csv('Dataset/698_m5_datasets_v1.0/Results.csv')

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414 entries, 0 to 7413
Data columns (total 3 columns):
Unnamed: 0         7414 non-null int64
ActualValues       7414 non-null int64
PredictedValues    7414 non-null int64
dtypes: int64(3)
memory usage: 173.9 KB

In [49]:
df3.head()

   Unnamed: 0  ActualValues  PredictedValues
0           0             0                0
1           1             0                0
2           2             0                0
3           3             1                1
4           4             1                0

In [51]:
df3.shape

(7414, 3)

In [52]:
from sklearn.metrics import confusion_matrix

In [53]:
confusion_matrix(df3.ActualValues, df3.PredictedValues)

array([[3097,  477],
       [3170,  670]], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score

In [56]:
#accuracy
accuracy = accuracy_score(df3.ActualValues, df3.PredictedValues)
accuracy

0.5080927974103048

In [57]:
#misclassification rate
1-accuracy

0.4919072025896952

In [58]:
#True Positive Rate
3097/(3097+477+3170+670)

0.41772322632856757

In [59]:
#False Positive rate
670/(3097+477+3170+670)

0.09036957108173725

In [65]:
# Specificity
# (true negatives / all actual negatives) =TN / TN + FP
670/(670+477)

0.5841325196163906

In [64]:
# Precision (TP/(TP+FP))
precision = 3097/(3097+3170)
precision

0.4941758417105473

In [ ]:
# Null Error Rate